@CHARSET "UTF-8";
.produce_form .upload_content .file_content{
	width:600px;
	position:relative;
	height:34px;
	vertical-align: top;
}
.produce_form .upload_content .img_content li img{
	width:80px;
	height:80px;
}
.produce_form .upload_content .file_content .uploadify-queue{
	position:relative;
	top:-50px;
	left:160px;
}
.produce_form li{
	margin:5px 0;
}
.produce_form li .onesay_content{
	padding:3px 0;
	padding-left:105px;
	color:#e98b4e;
}
.produce_form form input[type="text"]{
	width:300px;
}
.produce_form form .editor_content{
	
}
.produce_form form textarea{
	width:600px;
	height:100px;
}